<% provide(:title, 'Home') %>
<%= render 'layouts/header_blurb' %>

<div class="content">
    <h2 class="content-subhead">About</h2>
    <p>
        This is a stub page for the forthcoming browser-based game
    </p>

    <h2 class="content-subhead">Login</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="pure-g">
        <div class="pure-u-1-4">
        	<%=image_tag "splash1.png", alt: "Parquet Courts", class:"pure-img-responsive" %>
        </div>
        <div class="pure-u-1-4">
            <%=image_tag "splash2.png", alt: "Flying Lotus", class:"pure-img-responsive" %>
        </div>
        <div class="pure-u-1-4">
            <%=image_tag "splash3.png", alt: "Tycho", class:"pure-img-responsive" %>
        </div>
        <div class="pure-u-1-4">
            <%=image_tag "splash4.png", alt: "Neon Indian", class:"pure-img-responsive" %>
        </div>
    </div>
</div>