<% provide(:title, 'Home') %>
<%= render 'layouts/header_blurb' %>

<div class="content">
		<% if !logged_in? %>
    <h2 class="content-subhead">What is Buzzworthy all about?</h2>
    <p>
        Buzzworthy is game for all of those at the intersection of nerd and music elitist. Once you create a character and enter the game, you can start making music in your bedroom and performing
        at local house shows. Eventually, if you play your cards right, choose trendy genres, and sell out just a little, you' will become truly Buzzworthy. Do you have what it takes to make
        Best New Music? Find out by signing up.
    </p>
		<% end %>
    <!--<h2 class="content-subhead">Login</h2>-->
    <!--<p>-->
    <!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
    <!--</p>-->

    <div class="pure-g">
        <div class="pure-u-1-4">
        	<%=image_tag "splash1.png", alt: "Parquet Courts", class:"pure-img-responsive" %>
        </div>
        <div class="pure-u-1-4">
            <%=image_tag "splash2.png", alt: "Flying Lotus", class:"pure-img-responsive" %>
        </div>
        <div class="pure-u-1-4">
            <%=image_tag "splash3.png", alt: "Tycho", class:"pure-img-responsive" %>
        </div>
        <div class="pure-u-1-4">
            <%=image_tag "splash4.png", alt: "Neon Indian", class:"pure-img-responsive" %>
        </div>
    </div>
    
    <%= render 'news' %>
</div>