<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :level %><br>
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :buzz %><br>
    <%= f.number_field :buzz %>
  </div>
  <div class="field">
    <%= f.label :max_motivation %><br>
    <%= f.number_field :max_motivation %>
  </div>
  <div class="field">
    <%= f.label :cur_motivation %><br>
    <%= f.number_field :cur_motivation %>
  </div>
  <div class="field">
    <%= f.label :max_dignity %><br>
    <%= f.number_field :max_dignity %>
  </div>
  <div class="field">
    <%= f.label :cur_dignity %><br>
    <%= f.number_field :cur_dignity %>
  </div>
  <div class="field">
    <%= f.label :max_strangepoints %><br>
    <%= f.number_field :max_strangepoints %>
  </div>
  <div class="field">
    <%= f.label :cur_strangepoints %><br>
    <%= f.number_field :cur_strangepoints %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
