<% provide(:title, 'Directory') %>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <% if current_user.admin? %><th>Email</th><% end %>
      <th>Name</th>
      <th>Bio</th>
      <th>Level</th>
      <th>Genre</th>
      <th>Mail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% if current_user.admin? %><td><%= user.email %></td><% end %>
        <td><%= link_to user.name, user %></td>
        <td><%= user.bio %></td>
        <td><%= user.level %></td>
        <td><%= user.genre %></td>
        <td><%= link_to "Write", inbox_path %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Refresh', user, method: :refresh %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>

<% if current_user.admin? %><%= link_to 'New User', new_user_path %><% end %>